@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#hero {
  background-image: url("/cayeli-tur/assets/herobanner.png");
  background-size: cover;
  background-position-y: -150px;
  background-repeat: no-repeat;
}


.whatsapp::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #008236;
  border-radius: 50%;
  z-index: -1;
  animation: effect 2s ease-in-out infinite;
}

.whatsapp {
  z-index: 100;
}

@keyframes effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.2);
    opacity: .6;
  }
  50% {
    transform: scale(1.4);
    opacity: .4;
  }
  75% {
    transform: scale(1.6);
    opacity: .2;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}



